{% extends 'base.html' %}

{% load static %}
{% block script %}
    <link rel="stylesheet" href="{% static '/style/index_1.css' %}" media="screen">
    <link rel="stylesheet" href="{% static '/style/index_2.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '/js/index_1.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/js/index_2.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Architects+Daughter:400">
{% endblock script %}

{% block content %}

<section class="u-border-2 u-border-palette-5-light-2 u-clearfix u-image u-section-1" style="background-image: url('{% static '/images/index_bg.jpg' %}')";id="sec-cd44" data-image-width="1141" data-image-height="751">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-layout-cell u-left-cell u-opacity u-opacity-95 u-palette-5-light-1 u-shape-rectangle u-size-60 u-layout-cell-1">
            <div class="u-border-3 u-border-palette-5-dark-1 u-container-layout u-valign-top u-container-layout-1">
              <div class="u-clearfix u-group-elements u-group-elements-1">
                <h2 class="u-custom-font u-font-lobster u-text u-text-1">AniAc</h2>
                <h2 class="u-custom-font u-text u-text-2">,<span style="font-size: 0.875rem;"></span>애니악.&nbsp;
                </h2>
              </div>
              <p class="u-custom-font u-text u-text-3">&nbsp;애니악은 영화를 재미있게 추천받을 수 있도록 돕고 있습니다.<br>들어가기 전에 &lt;주의 사항&gt;이 있으니, 반드시 참고하시어 만족스러운 서비스를 경험해 보셨으면 합니다.<br>
                <br>&lt;주의 사항&gt; :<br>&nbsp;"애니악의 영화 추천 서비스는 화면 크기에 따라 반응하여, 현재 Desktop과 Laptop 환경에서 원활하게 작동함을 확인하였습니다. 그 외 환경에서는 불편할 수 있으니, <span style="text-decoration: underline !important;">가로 화면에서 100%의 배율의 전체 화면으로 편안하게 즐겨주셨으면 합니다.</span>"<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="./#carousel_370a" data-page-id="934822383" class="u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-1">ENTER ANIAC</a>
  </div>
</section>
<section class="u-align-left u-clearfix u-grey-10 u-section-2" id="carousel_370a" style="max-width:1300px">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h4 class="u-align-center u-custom-font u-text u-text-1">- How to Meet -</h4>
    <div class="u-align-justify u-container-style u-group u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <p class="u-custom-font u-text u-text-black u-text-2" style="margin-left:0px">&nbsp;현재 애니악에는 좌측에 보이는 4명의 유능한 직원들이 근무하고 있으며, 그들은 고객님들을 언제든지 도울 준비가 되어 있습니다.<br>&nbsp;또한 그들이 들려줄 이야기는 모두 실화를 바탕으로 하였으며, 그들이 각자 업무 중에 겪은 인상 깊었던 일들을 고객님들과 함께 새롭게 각색해 보고 싶다고 합니다.<br>&nbsp;그들과 만나기 위해서는 원하는 직원을 '<span style="font-weight: 700; font-size: 1.25rem;">클릭</span>'하는 것만으로 충분합니다. 아래는 직원들에 대한 간략한 설명입니다.<br>
          <br>&nbsp;'<span style="font-size: 1.5rem;">리사</span>'는 가장 오래 근무한 직원입니다. 다른 직원들과는 다른 방식으로, 영화 평가를 듣고 알맞은 영화를 추천해주곤 합니다. <br>&nbsp;'<span style="font-size: 1.5rem;">마일로</span>'는 사람을 편안하게 해주는 성격을 가지고 있습니다. 아직 일을 배우는 단계라서 서툴 수는 있으나, 틀림없이 여러분들을 기분 좋게 해줄 것입니다.<br>&nbsp;'<span style="font-size: 1.5rem;">데이지</span>'는 마일로와 소꿉친구이자 입사 동기입니다. 얼마 전, 그녀에게 마일로가 아닌 다른 남자가 생겼습니다. 마일로의 기분이 썩 좋아 보이진 않지만, 눈치 없이 그녀는 사랑에 빠지게 된 이야기를 해준다고 하네요.<br>&nbsp;'<span style="font-size: 1.5rem;">카이</span>'는 해고 위기에 놓여있습니다. 아마 그 사건과 관련된 이야기를 해줄 것 같네요.<br>
          <br>애니악에 근무하는 모든 직원은 5개월의 특수훈련과정을 거쳐 선별된 SSAFY인입니다. 그들은 이제 모두 영화 추천 알고리즘을 정확히 구현해 낼 수 있죠.&nbsp;<br>
          <br>자 이제, 그들을 만나보세요.
        </p>
      </div>
    </div>
    <div class="u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-size-30">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-radius-40 u-right-cell u-shape-round u-size-20 u-white u-layout-cell-1" data-href="{% url 'visualnovel:visualnovel4'%}" data-page-id="216270845">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-clearfix u-group-elements u-group-elements-1">
                    <img alt="" class="u-align-center u-image u-image-round u-radius-7 u-image-1" data-image-width="505" data-image-height="578" src="{% static '/images/m_index_lisa.jpg' %}">
                    <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-opacity u-opacity-15 u-line-1"></div>
                    <h4 class="u-align-center u-custom-font u-text u-text-3">리사</h4>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-radius-40 u-right-cell u-shape-round u-size-20 u-white u-layout-cell-2" data-href="{% url 'visualnovel:visualnovel1'%}" data-page-id="216270845">
                <div class="u-container-layout u-container-layout-3">
                  <div class="u-clearfix u-group-elements u-group-elements-2">
                    <img alt="" class="u-align-center u-image u-image-round u-radius-7 u-image-2" data-image-width="506" data-image-height="578" src="{% static '/images/m_index_daisy.jpg' %}">
                    <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-opacity u-opacity-15 u-line-2"></div>
                    <h4 class="u-align-center u-custom-font u-text u-text-4">데이지<br>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-4"></div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-col">
              <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-4">
                <div class="u-container-layout u-container-layout-5"></div>
              </div>
              <div class="u-container-style u-layout-cell u-left-cell u-radius-40 u-shape-round u-size-20 u-white u-layout-cell-5" data-href="{% url 'visualnovel:visualnovel3'%}" data-page-id="216270845">
                <div class="u-container-layout u-container-layout-6">
                  <img alt="" class="u-align-center u-image u-image-round u-radius-7 u-image-3" data-image-width="506" data-image-height="578" src="{% static '/images/m_index_milo.jpg' %}">
                  <div class="u-align-left u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-opacity u-opacity-15 u-line-3"></div>
                  <h4 class="u-align-center u-custom-font u-text u-text-5">마일로</h4>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-left-cell u-radius-40 u-shape-round u-size-20 u-white u-layout-cell-6" data-href="{% url 'visualnovel:visualnovel2'%}" data-page-id="216270845">
                <div class="u-container-layout u-container-layout-7">
                  <div class="u-clearfix u-group-elements u-group-elements-3">
                    <img alt="" class="u-align-center u-image u-image-round u-radius-7 u-image-4" data-image-width="506" data-image-height="578" src="{% static '/images/m_index_kai.jpg' %}">
                    <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-opacity u-opacity-15 u-line-4"></div>
                    <h4 class="u-align-center u-custom-font u-text u-text-6">카이</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}