.u-section-1 {
  background-image: none;
  min-height: 1251px;
}

.u-section-1 .u-shape-1 {
  height: 554px;
  margin-top: 305px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 573px;
  min-height: 528px;
  margin: -838px calc(((100% - 1140px) / 2) + 185px) 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 267px;
  height: 112px;
  margin: 41px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 374px;
  height: 528px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -153px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: GowunDodum-Regular;
  margin: -471px 12px 0 324px;
}

.u-section-1 .u-list-1 {
  width: 1196px;
  margin: -133px auto 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 15.2px) calc(20% - 15.2px) calc(20% - 15.2px) calc(20% - 15.2px) calc(20% - 15.2px);
  min-height: 354px;
  grid-gap: 19px 19px;
  grid-auto-columns: calc(20% - 15.2px);
}

.u-section-1 .u-image-2 {
  box-shadow: 6px 5px 15px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 304px -9px 0 185px;
}

.u-section-1 .u-image-3 {
  box-shadow: 6px 5px 15px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 304px -9px 0 185px;
}

.u-section-1 .u-image-4 {
  box-shadow: 6px 5px 15px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  margin: 304px -9px 0 185px;
}

.u-section-1 .u-image-5 {
  box-shadow: 6px 5px 15px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  margin: 304px -9px 0 185px;
}

.u-section-1 .u-image-6 {
  box-shadow: 6px 5px 15px 0px rgba(128,128,128,0.75);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  margin: 304px -9px 0 185px;
}

.u-section-1 .u-list-2 {
  width: 1196px;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + -28px);
}

.u-section-1 .u-repeater-2 {
  min-height: 79px;
  grid-auto-columns: calc(20% - 23.2px);
  grid-template-columns: calc(20% - 23.2px) calc(20% - 23.2px) calc(20% - 23.2px) calc(20% - 23.2px) calc(20% - 23.2px);
  grid-gap: 29px 29px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-family: GowunDodum-Regular;
  margin: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  font-family: GowunDodum-Regular;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  font-family: GowunDodum-Regular;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  font-family: GowunDodum-Regular;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-text-11 {
  font-family: GowunDodum-Regular;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 502px;
  min-height: 44px;
  height: auto;
  margin: 21px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-family: GowunDodum-Regular;
  margin: 0 0 0 auto;
  padding: 9px 26px 9px 25px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  font-family: GowunDodum-Regular;
  margin: -44px auto 0 0;
  padding: 8px 27px;
}

.u-section-1 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: -36px auto 0 8px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 940px) / 2) + 185px);
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px) calc(33.3333% - 12.6667px);
    min-height: 278px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-repeater-2 {
    min-height: 62px;
    grid-template-columns: repeat(5, calc(20% - 23.2px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 720px) / 2) + 147px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    min-height: 710px;
    grid-auto-columns: calc(33.333333333333336% - 12.666666666666666px);
  }

  .u-section-1 .u-list-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-2 {
    min-height: 158px;
    grid-auto-columns: calc(33.333333333333336% - 19.333333333333332px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 19.333333333333332px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.50003px) calc(50% - 9.50003px);
    min-height: 1198px;
    grid-auto-columns: calc(50% - 9.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-repeater-2 {
    min-height: 267px;
    grid-auto-columns: calc(50% - 14.5px);
    grid-template-columns: repeat(2, calc(50% - 14.5px));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1203px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-elements-2 {
    width: 340px;
  }
}@font-face {
  font-family: 'GowunDodum-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GowunDodum-Regular.ttf);
}